body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h1 {
	color: #333;
}

button {
	padding: 10px 20px;
	background-color: #03cea4;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	border-radius: 17px;
	border: none;
	cursor: pointer;
	margin-bottom: 25px;
}

button:hover {
	background-color:#048a6f;
}


#resultContainer {
	max-width: 400px;
	margin: 0 auto;
	text-align: left;
	border-radius: 17px;
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	padding: 20px;
}

#resultContainer p {
	margin: 10px 0;
}